services:
  service_users:
    build: ./service_users
    container_name: service_users
    ports:
      - "5000:5000"

  service_orders:
    build: ./service_orders
    container_name: service_orders
    ports:
      - "5001:5001"

  gateway:
    build: ./gateway
    container_name: gateway
    environment:
      - SERVICE_USERS_URL=http://service_users:5000
      - SERVICE_ORDERS_URL=http://service_orders:5001
    ports:
      - "8080:8080"
    depends_on:
      - service_users
      - service_orders
